.container {
  text-align: center;
  padding: 20px;
}

.icon {
  width: 100px;
  height: auto;
}

.title {
  color: #0096C7;
  font-size: 2rem;
  margin: 10px 0;
}

ion-button {
  margin-top: 10px;
}
