<div class="container">
  <img src="assets/sombrero-de-graduacion.png" alt="Graduation cap" class="icon">
  <h1 class="title">Enotas</h1>
  <form>
    <h2>Iniciar sesión</h2>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
    <ion-button expand="full" color="primary" (click)="navigateToMenu()">Entrar</ion-button>
  </form>
  <div class="footer">
    <a href="#">Términos de uso</a>
    <a href="#">Privacidad y cookies</a>
  </div>
</div>
